// SCSS for TOTC Hero Banner

.totc-banner {
  width: 100%;
  background-color: var(--primary-green);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: rem(40);

  &__cover {
    flex: 1;
    max-width: 50%;
    .totc-banner-img{
      object-fit: contain;
      object-position: bottom;
      border-radius: rem(6);
    }
    @media (max-width:rem(768)){
      display: none;
    }
  }

  &__wrapper {
    gap: rem(32);

    .totc-banner-content {
      flex: 1;
      max-width: 50%;
      @media (max-width:rem(768)){
        max-width: 100%;
      }

      .totc-banner-subtitle {
        color: var(--pure-white);
      }

      .totc-banner-button-wrapper {
        gap: rem(30);
        @media (max-width:rem(768)){
          gap: rem(10);
        }

        .btn-join {
          padding: rem(20) rem(40);
          border: none;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          cursor: pointer;
          background-color: var(--primary-light-green);
          color: var(--pure-white);
          @media (max-width: rem(992)){
            padding: rem(10) rem(20);
          }
        }

        .totc-banner__play-icon {
          max-width: rem(60);
          max-height: rem(60);

          @media(max-width: rem(768)){
            display: none;
          }

          .play-icon-img {
            width: rem(60);
            height: rem(60);
          }
        }
      }
    }
  }
}