#page-cards-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: rem(40);
    justify-items: center;
    margin-bottom: 20px;

    .page-cards {
        width: rem(320);
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        @media (max-width: rem(992)){
            width: rem(200);
        }
    }

    .pagination-img-wrapper{
        width: rem(320);
        @media (max-width: rem(992)){
            width: rem(200);
        }
        .page-books{
            width: 100%;
        }
    }
}

#pagination {
    @include center;
    gap: 10px;
    padding: rem(20) rem(0);

    button {
        padding: 5px 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #fff;
        cursor: pointer;
    }
    .page-number {
        padding: 5px 10px;
        cursor: pointer;
        color: #333;
        &.active {
            font-weight: bold;
            color: var(--primary-green);
        }
    }
    button:hover,.page-number:hover{
        background-color: #e0e0e0;
    }
}