.totc-word-text-container {
    .totc-text-wrapper {
        max-width: 70%;
        margin: 0 auto;
        @media (max-width: rem(768)) {
            max-width: 100%;
            margin: 0;
        }
    }
}